openapi: 3.0.1
info:
  title: Testkube Standalone Agent api cluster-resources API
  description: API for Testkube Standalone Agent
  contact:
    email: info@testkube.io
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: 1.0.0
servers:
- url: https://api.testkube.io
  description: Testkube Cloud Control Plane API Endpoint
- url: https://<your-testkube-api-host>
  description: Testkube On-Prem API Endpoint
tags:
- name: cluster-resources
paths:
  /cluster-resources:
    get:
      tags:
      - cluster-resources
      summary: List cluster resources
      description: 'Returns every Group/Version/Kind the cluster exposes, tagged with whether

        the agent ServiceAccount has list+watch permission. Backs the UI dropdown

        for picking what resource a TestTrigger or WorkflowTrigger should watch.

        '
      operationId: listClusterResources
      parameters:
      - in: query
        name: watchable
        schema:
          type: boolean
        description: When true, drop resources the agent cannot list+watch.
      responses:
        200:
          description: successful list operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClusterResource'
        501:
          description: cluster discovery not configured on this instance
        502:
          description: cluster discovery failed
components:
  schemas:
    ClusterResource:
      description: One GVK the cluster exposes, with the agent's watch permission.
      type: object
      required:
      - version
      - kind
      - resource
      - namespaced
      - canWatch
      properties:
        group:
          type: string
          description: API group (empty for core resources like Pod, Service).
          example: argoproj.io
        version:
          type: string
          example: v1alpha1
        kind:
          type: string
          example: Rollout
        resource:
          type: string
          description: Plural resource name as used in RBAC rules.
          example: rollouts
        namespaced:
          type: boolean
          description: Cluster-scoped resources (Node, ClusterRole, ...) have this false.
        canWatch:
          type: boolean
          description: True when the agent ServiceAccount holds list+watch on this resource.
