openapi: 3.0.1
info:
  title: Testkube Standalone Agent api Test Workflow Executions API
  description: API for Testkube Standalone Agent
  contact:
    email: info@testkube.io
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: 1.0.0
servers:
- url: https://api.testkube.io
  description: Testkube Cloud Control Plane API Endpoint
- url: https://<your-testkube-api-host>
  description: Testkube On-Prem API Endpoint
tags:
- name: Test Workflow Executions
paths:
  /test-workflow-executions:
    post:
      parameters:
      - $ref: '#/components/parameters/Selector'
      - $ref: '#/components/parameters/ConcurrencyLevel'
      summary: Execute test workflows
      description: Execute test workflows in the kubernetes cluster
      operationId: executeTestWorkflows
      requestBody:
        description: test workflow execution request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestWorkflowExecutionRequest'
      responses:
        '200':
          description: successful execution
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TestWorkflowExecution'
        '400':
          description: problem with body parsing - probably some bad input occurs
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Problem'
        '402':
          description: missing Pro subscription for a commercial feature
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Problem'
        '502':
          description: problem communicating with kubernetes cluster
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Problem'
      tags:
      - Test Workflow Executions
    get:
      parameters:
      - $ref: '#/components/parameters/ID'
      - $ref: '#/components/parameters/TagSelector'
      - $ref: '#/components/parameters/ActorName'
      - $ref: '#/components/parameters/ActorType'
      summary: List test workflow executions
      description: List test workflow executions
      operationId: listTestWorkflowExecutions
      responses:
        '200':
          description: successful list operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TestWorkflowExecutionsResult'
            text/yaml:
              schema:
                type: string
        '400':
          description: problem with selector parsing - probably some bad input occurs
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Problem'
        '402':
          description: missing Pro subscription for a commercial feature
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Problem'
        '502':
          description: problem communicating with kubernetes cluster
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Problem'
      tags:
      - Test Workflow Executions
  /test-workflow-executions/{executionID}:
    get:
      parameters:
      - $ref: '#/components/parameters/executionID'
      summary: Get test workflow execution
      description: Get test workflow execution details
      operationId: getTestWorkflowExecution
      responses:
        '200':
          description: successful list operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TestWorkflowExecution'
            text/yaml:
              schema:
                type: string
        '400':
          description: problem with selector parsing - probably some bad input occurs
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Problem'
        '402':
          description: missing Pro subscription for a commercial feature
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Problem'
        '502':
          description: problem communicating with kubernetes cluster
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Problem'
      tags:
      - Test Workflow Executions
  /test-workflow-executions/{executionID}/artifacts:
    get:
      parameters:
      - $ref: '#/components/parameters/executionID'
      summary: Get test workflow execution's artifacts by ID
      description: Returns artifacts of the given executionID
      operationId: getTestWorkflowExecutionArtifacts
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Artifact'
        '402':
          description: missing Pro subscription for a commercial feature
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Problem'
        '404':
          description: execution not found
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Problem'
        '500':
          description: problem with getting execution's artifacts from storage
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Problem'
      tags:
      - Test Workflow Executions
  /test-workflow-executions/{executionID}/artifacts/{filename}:
    get:
      parameters:
      - $ref: '#/components/parameters/executionID'
      - $ref: '#/components/parameters/Filename'
      summary: Download test workflow artifact
      description: Download the artifact file from the given execution
      operationId: downloadTestWorkflowArtifact
      responses:
        '200':
          description: successful operation
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '402':
          description: missing Pro subscription for a commercial feature
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Problem'
        '404':
          description: execution not found
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Problem'
        '500':
          description: problem with getting artifacts from storage
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Problem'
      tags:
      - Test Workflow Executions
  /test-workflow-executions/{executionID}/artifact-archive:
    get:
      parameters:
      - $ref: '#/components/parameters/executionID'
      - $ref: '#/components/parameters/Mask'
      summary: Download test workflow artifact archive
      description: Download the artifact archive from the given execution
      operationId: downloadTestWorkflowArtifactArchive
      responses:
        '200':
          description: successful operation
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '402':
          description: missing Pro subscription for a commercial feature
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Problem'
        '404':
          description: execution not found
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Problem'
        '500':
          description: problem with getting artifact archive from storage
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Problem'
      tags:
      - Test Workflow Executions
  /test-workflow-executions/{executionID}/abort:
    post:
      parameters:
      - $ref: '#/components/parameters/executionID'
      - $ref: '#/components/parameters/ForceAgent'
      summary: Abort test workflow execution
      description: Abort test workflow execution
      operationId: abortTestWorkflowExecution
      responses:
        '204':
          description: no content
        '400':
          description: problem with selector parsing - probably some bad input occurs
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Problem'
        '402':
          description: missing Pro subscription for a commercial feature
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Problem'
        '502':
          description: problem communicating with kubernetes cluster
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Problem'
      tags:
      - Test Workflow Executions
  /test-workflow-executions/{executionID}/rerun:
    post:
      parameters:
      - $ref: '#/components/parameters/executionID'
      summary: Rerun test workflow execution
      description: Rerun test workflow execution
      operationId: rerunTestWorkflowExecution
      requestBody:
        description: test workflow running context
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestWorkflowRunningContext'
      responses:
        '200':
          description: successful execution
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestWorkflowExecution'
        '400':
          description: problem with body parsing - probably some bad input occurs
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Problem'
        '502':
          description: problem communicating with kubernetes cluster
          content:
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Problem'
      tags:
      - Test Workflow Executions
components:
  schemas:
    PodDNSConfig:
      type: object
      properties:
        nameservers:
          type: array
          items:
            type: string
        searches:
          type: array
          items:
            type: string
        options:
          type: array
          items:
            $ref: '#/components/schemas/PodDNSConfigOption'
    PodResourceClaim:
      type: object
      properties:
        name:
          type: string
        source:
          $ref: '#/components/schemas/ClaimSource'
    ImagePullPolicy:
      type: string
      enum:
      - Always
      - Never
      - IfNotPresent
    TestWorkflowSummary:
      type: object
      properties:
        name:
          type: string
        namespace:
          type: string
        labels:
          type: object
          additionalProperties:
            type: string
        annotations:
          type: object
          additionalProperties:
            type: string
        health:
          $ref: '#/components/schemas/TestWorkflowExecutionHealth'
    TestWorkflowStatus:
      type: string
      enum:
      - queued
      - assigned
      - starting
      - scheduling
      - running
      - pausing
      - paused
      - resuming
      - passed
      - failed
      - stopping
      - aborted
      - canceled
    NodeSelector:
      type: object
      properties:
        nodeSelectorTerms:
          type: array
          items:
            $ref: '#/components/schemas/NodeSelectorTerm'
    ExecAction:
      type: object
      properties:
        command:
          type: array
          description: Command is the command line to execute inside the container, the working directory for the command is root ('/') in the container's filesystem. Exit status of 0 is treated as live/healthy and non-zero is unhealthy.
          items:
            type: string
    TestWorkflowCronJobConfig:
      type: object
      description: cron job configuration
      required:
      - cron
      properties:
        cron:
          type: string
          description: cron schedule to run a test workflow
          example: '* * * * *'
        labels:
          type: object
          description: labels to attach to the cron job
          additionalProperties:
            type: string
        annotations:
          type: object
          description: annotations to attach to the cron job
          additionalProperties:
            type: string
        config:
          $ref: '#/components/schemas/TestWorkflowConfigValue'
        target:
          $ref: '#/components/schemas/ExecutionTarget'
        timezone:
          $ref: '#/components/schemas/BoxedString'
          description: cron timezone
          example: America/New_York
    TestWorkflowPause:
      type: object
      properties:
        ref:
          type: string
          description: step at which it was paused
        pausedAt:
          type: string
          format: date-time
          description: when the pause has started
        resumedAt:
          type: string
          format: date-time
          description: when the pause has ended
      required:
      - ref
      - pausedAt
    ProjectedVolumeSource:
      type: object
      description: Represents a projected volume source
      properties:
        defaultMode:
          $ref: '#/components/schemas/BoxedInteger'
        sources:
          description: sources is the list of volume projections. Each entry in this list handles one source.
          items:
            description: Projection that may be projected along with other supported volume types. Exactly one of these fields must be set.
            properties:
              clusterTrustBundle:
                type: object
                description: ClusterTrustBundle allows a pod to access the `.spec.trustBundle` field of ClusterTrustBundle objects in an auto-updating file.
                properties:
                  labelSelector:
                    $ref: '#/components/schemas/LabelSelector'
                  name:
                    $ref: '#/components/schemas/BoxedString'
                  optional:
                    $ref: '#/components/schemas/BoxedBoolean'
                  path:
                    description: Relative path from the volume root to write the bundle.
                    type: string
                  signerName:
                    $ref: '#/components/schemas/BoxedString'
                required:
                - path
              configMap:
                type: object
                description: configMap information about the configMap data to project
                properties:
                  items:
                    description: items if unspecified, each key-value pair in the Data field of the referenced ConfigMap will be projected into the volume as a file whose name is the key and content is the value. If specified, the listed keys will be projected into the specified paths, and unlisted keys will not be present. If a key is specified which is not present in the ConfigMap, the volume setup will error unless it is marked optional. Paths must be relative and may not contain the '..' path or start with '..'.
                    items:
                      description: Maps a string key to a path within a volume.
                      properties:
                        key:
                          description: key is the key to project.
                          type: string
                        mode:
                          $ref: '#/components/schemas/BoxedInteger'
                        path:
                          description: path is the relative path of the file to map the key to. May not be an absolute path. May not contain the path element '..'. May not start with the string '..'.
                          type: string
                      required:
                      - key
                      - path
                      type: object
                    type: array
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names TODO: Add other useful fields. apiVersion, kind, uid?'
                    type: string
                  optional:
                    $ref: '#/components/schemas/BoxedBoolean'
              downwardAPI:
                type: object
                description: downwardAPI information about the downwardAPI data to project
                properties:
                  items:
                    description: Items is a list of DownwardAPIVolume file
                    items:
                      description: DownwardAPIVolumeFile represents information to create the file containing the pod field
                      properties:
                        fieldRef:
                          $ref: '#/components/schemas/FieldRef'
                        mode:
                          $ref: '#/components/schemas/BoxedInteger'
                        path:
                          description: path is the relative path of the file to map the key to. May not be an absolute path. May not contain the path element '..'. May not start with the string '..'.
                          type: string
                        resourceFieldRef:
                          $ref: '#/components/schemas/ResourceFieldRef'
                      required:
                      - path
                      type: object
                    type: array
              secret:
                type: object
                description: secret information about the secret data to project
                properties:
                  items:
                    description: items if unspecified, each key-value pair in the Data field of the referenced ConfigMap will be projected into the volume as a file whose name is the key and content is the value. If specified, the listed keys will be projected into the specified paths, and unlisted keys will not be present. If a key is specified which is not present in the ConfigMap, the volume setup will error unless it is marked optional. Paths must be relative and may not contain the '..' path or start with '..'.
                    items:
                      description: Maps a string key to a path within a volume.
                      properties:
                        key:
                          description: key is the key to project.
                          type: string
                        mode:
                          $ref: '#/components/schemas/BoxedInteger'
                        path:
                          description: path is the relative path of the file to map the key to. May not be an absolute path. May not contain the path element '..'. May not start with the string '..'.
                          type: string
                      required:
                      - key
                      - path
                      type: object
                    type: array
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names TODO: Add other useful fields. apiVersion, kind, uid?'
                    type: string
                  optional:
                    $ref: '#/components/schemas/BoxedBoolean'
              serviceAccountToken:
                type: object
                description: serviceAccountToken is information about the serviceAccountToken data to project
                properties:
                  audience:
                    description: audience is the intended audience of the token. A recipient of a token must identify itself with an identifier specified in the audience of the token, and otherwise should reject the token. The audience defaults to the identifier of the apiserver.
                    type: string
                  expirationSeconds:
                    $ref: '#/components/schemas/BoxedInteger'
                  path:
                    description: path is the path relative to the mount point of the file to project the token into.
                    type: string
                required:
                - path
            type: object
          type: array
    TestWorkflowStepParallelTransfer:
      type: object
      properties:
        from:
          type: string
          description: path to load the files from
        to:
          type: string
          description: path to save the files to
        files:
          $ref: '#/components/schemas/TestWorkflowTarballFilePattern'
        mount:
          $ref: '#/components/schemas/BoxedBoolean'
      required:
      - from
    SecretVolumeSource:
      description: 'secret represents a secret that should populate this volume. More info: https://kubernetes.io/docs/concepts/storage/volumes#secret'
      properties:
        defaultMode:
          $ref: '#/components/schemas/BoxedInteger'
        items:
          description: items If unspecified, each key-value pair in the Data field of the referenced Secret will be projected into the volume as a file whose name is the key and content is the value. If specified, the listed keys will be projected into the specified paths, and unlisted keys will not be present. If a key is specified which is not present in the Secret, the volume setup will error unless it is marked optional. Paths must be relative and may not contain the '..' path or start with '..'.
          items:
            description: Maps a string key to a path within a volume.
            properties:
              key:
                description: key is the key to project.
                type: string
              mode:
                $ref: '#/components/schemas/BoxedInteger'
              path:
                description: path is the relative path of the file to map the key to. May not be an absolute path. May not contain the path element '..'. May not start with the string '..'.
                type: string
            required:
            - key
            - path
            type: object
          type: array
        optional:
          description: optional field specify whether the Secret or its keys must be defined
          type: boolean
        secretName:
          description: 'secretName is the name of the secret in the pod''s namespace to use. More info: https://kubernetes.io/docs/concepts/storage/volumes#secret'
          type: string
      type: object
    TestWorkflowSpec:
      type: object
      properties:
        use:
          type: array
          items:
            $ref: '#/components/schemas/TestWorkflowTemplateRef'
        concurrency:
          $ref: '#/components/schemas/TestWorkflowConcurrencyPolicy'
        config:
          $ref: '#/components/schemas/TestWorkflowConfigSchema'
        system:
          $ref: '#/components/schemas/TestWorkflowSystem'
        content:
          $ref: '#/components/schemas/TestWorkflowContent'
        services:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/TestWorkflowServiceSpec'
        container:
          $ref: '#/components/schemas/TestWorkflowContainerConfig'
        job:
          $ref: '#/components/schemas/TestWorkflowJobConfig'
        pod:
          $ref: '#/components/schemas/TestWorkflowPodConfig'
        setup:
          type: array
          items:
            $ref: '#/components/schemas/TestWorkflowStep'
        steps:
          type: array
          items:
            $ref: '#/components/schemas/TestWorkflowStep'
        after:
          type: array
          items:
            $ref: '#/components/schemas/TestWorkflowStep'
        events:
          type: array
          items:
            $ref: '#/components/schemas/TestWorkflowEvent'
        execution:
          $ref: '#/components/schemas/TestWorkflowExecutionSchema'
        timeouts:
          $ref: '#/components/schemas/TestWorkflowTimeouts'
        pvcs:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/TestWorkflowPvcConfig'
    ExecutionTarget:
      type: object
      properties:
        match:
          type: object
          description: runner labels to match
          additionalProperties:
            type: array
            items:
              type: string
        not:
          type: object
          description: runner labels to NOT match
          additionalProperties:
            type: array
            items:
              type: string
        replicate:
          type: array
          description: list of runner labels to replicate the executions
          items:
            type: string
    TestWorkflowEvent:
      type: object
      properties:
        cronjob:
          $ref: '#/components/schemas/TestWorkflowCronJobConfig'
    AzureDiskVolumeSource:
      description: azureDisk represents an Azure Data Disk mount on the host and bind mount to the pod.
      properties:
        cachingMode:
          $ref: '#/components/schemas/BoxedString'
        diskName:
          description: diskName is the Name of the data disk in the blob storage
          type: string
        diskURI:
          description: diskURI is the URI of data disk in the blob storage
          type: string
        fsType:
          $ref: '#/components/schemas/BoxedString'
        kind:
          $ref: '#/components/schemas/BoxedString'
        readOnly:
          description: readOnly Defaults to false (read/write). ReadOnly here will force the ReadOnly setting in VolumeMounts.
          type: boolean
      required:
      - diskName
      - diskURI
      type: object
    TestWorkflowExecutionsResult:
      type: object
      properties:
        totals:
          $ref: '#/components/schemas/ExecutionsTotals'
        filtered:
          $ref: '#/components/schemas/ExecutionsTotals'
        results:
          type: array
          items:
            $ref: '#/components/schemas/TestWorkflowExecutionSummary'
      required:
      - totals
      - filtered
      - results
    GRPCAction:
      type: object
      properties:
        port:
          type: integer
        service:
          $ref: '#/components/schemas/BoxedString'
    PodAffinity:
      type: object
      properties:
        requiredDuringSchedulingIgnoredDuringExecution:
          type: array
          items:
            $ref: '#/components/schemas/PodAffinityTerm'
        preferredDuringSchedulingIgnoredDuringExecution:
          type: array
          items:
            $ref: '#/components/schemas/WeightedPodAffinityTerm'
    Problem:
      description: problem response in case of error
      type: object
      properties:
        type:
          type: string
          description: Type contains a URI that identifies the problem type.
          example: https://kubeshop.io/testkube/problems/invalidtestname
        title:
          type: string
          description: Title is a short, human-readable summary of the problem type. This title SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization.
          example: Invalid test name
        status:
          type: integer
          description: HTTP status code for this occurrence of the problem.
          example: 500
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
          example: Your test name can't contain forbidden characters like "}}}" passed
        instance:
          type: string
          description: A URI that identifies the specific occurrence of the problem. This URI may or may not yield further information if de-referenced.
          example: http://10.23.23.123:8088/tests
    TestWorkflowServiceSpec:
      type: object
      allOf:
      - $ref: '#/components/schemas/TestWorkflowStepExecuteStrategy'
      - $ref: '#/components/schemas/TestWorkflowIndependentServiceSpec'
      - properties:
          use:
            type: array
            items:
              $ref: '#/components/schemas/TestWorkflowTemplateRef'
    SecurityContext:
      type: object
      properties:
        capabilities:
          $ref: '#/components/schemas/Capabilities'
        privileged:
          $ref: '#/components/schemas/BoxedBoolean'
        seLinuxOptions:
          $ref: '#/components/schemas/SELinuxOptions'
        windowsOptions:
          $ref: '#/components/schemas/WindowsSecurityContextOptions'
        runAsUser:
          $ref: '#/components/schemas/TemplatableBoxedInteger'
        runAsGroup:
          $ref: '#/components/schemas/TemplatableBoxedInteger'
        runAsNonRoot:
          $ref: '#/components/schemas/BoxedBoolean'
        readOnlyRootFilesystem:
          $ref: '#/components/schemas/BoxedBoolean'
        allowPrivilegeEscalation:
          $ref: '#/components/schemas/BoxedBoolean'
        procMount:
          $ref: '#/components/schemas/BoxedString'
        seccompProfile:
          $ref: '#/components/schemas/SeccompProfile'
        appArmorProfile:
          $ref: '#/components/schemas/AppArmorProfile'
    TestWorkflowConfigSchema:
      type: object
      description: configuration definition
      additionalProperties:
        $ref: '#/components/schemas/TestWorkflowParameterSchema'
    TestWorkflowExecutionHealth:
      type: object
      properties:
        passRate:
          type: number
          format: float64
          description: 'Recency-weighted fraction of executions that passed (value between 0.0 and 1.0).

            '
        flipRate:
          type: number
          format: float64
          description: "Fraction of status changes among consecutive executions without recency weighting \n(value between 0.0 and 1.0).\n"
        overallHealth:
          type: number
          format: float64
          description: 'Combined health score, computed as passRate * (1 - flipRate)

            (value between 0.0 and 1.0).

            '
      required:
      - passRate
      - flipRate
      - overallHealth
    TestWorkflowReport:
      type: object
      properties:
        ref:
          type: string
          description: step reference
        kind:
          type: string
          enum:
          - junit
          description: report kind/type
          example: junit
        file:
          type: string
          description: file path to full report in artifact storage
        summary:
          $ref: '#/components/schemas/TestWorkflowReportSummary'
    NodeSelectorTerm:
      type: object
      properties:
        matchExpressions:
          type: array
          items:
            $ref: '#/components/schemas/NodeSelectorRequirement'
        matchFields:
          type: array
          items:
            $ref: '#/components/schemas/NodeSelectorRequirement'
    TestWorkflowExecutionConfigValue:
      type: object
      description: configuration values used in the test workflow execution
      properties:
        value:
          type: string
          description: configuration value
        emptyValue:
          type: boolean
          description: configuration value is empty
        defaultValue:
          type: string
          description: configuration value default
        emptyDefaultValue:
          type: boolean
          description: configuration value default is empty
        truncated:
          type: boolean
          description: indicates if the value is truncated
        sensitive:
          type: boolean
          description: marks value as sensitive
    PodDNSConfigOption:
      type: object
      properties:
        name:
          type: string
        value:
          $ref: '#/components/schemas/BoxedString'
    TestWorkflowExecutionSummary:
      type: object
      properties:
        id:
          type: string
          description: unique execution identifier
          format: bson objectId
          example: 62f395e004109209b50edfc1
        groupId:
          type: string
          description: identifier for group of correlated executions
          format: bson objectId
          example: 62f395e004109209b50edfc1
        runnerId:
          type: string
          description: identifier of the runner where it has been executed
        name:
          type: string
          description: execution name
          example: some-workflow-name-1
        number:
          type: integer
          description: sequence number for the execution
        scheduledAt:
          type: string
          format: date-time
          description: when the execution has been scheduled to run
        statusAt:
          type: string
          format: date-time
          description: when the execution result's status has changed last time (queued, passed, failed)
        result:
          $ref: '#/components/schemas/TestWorkflowResultSummary'
        workflow:
          $ref: '#/components/schemas/TestWorkflowSummary'
        tags:
          $ref: '#/components/schemas/TestWorkflowTagValue'
        runningContext:
          description: running context for the test workflow execution (Pro edition only)
          $ref: '#/components/schemas/TestWorkflowRunningContext'
        configParams:
          $ref: '#/components/schemas/TestWorkflowExecutionConfig'
        runtime:
          $ref: '#/components/schemas/TestWorkflowExecutionRuntime'
        reports:
          type: array
          description: generated reports from the steps, like junit
          items:
            $ref: '#/components/schemas/TestWorkflowReport'
        resourceAggregations:
          $ref: '#/components/schemas/TestWorkflowExecutionResourceAggregationsReport'
        silentMode:
          description: execution mode to determine which events to skip
          $ref: '#/components/schemas/SilentMode'
      required:
      - id
      - name
      - workflow
    EnvReference:
      description: Reference to env resource
      type: object
      required:
      - reference
      properties:
        reference:
          $ref: '#/components/schemas/LocalObjectReference'
        mount:
          type: boolean
          description: whether we shoud mount resource
          example: /etc/data
        mountPath:
          type: string
          description: where we shoud mount resource
        mapToVariables:
          type: boolean
          description: whether we shoud map to variables from resource
          default: false
    ResourceFieldRef:
      type: object
      required:
      - resource
      description: 'Selects a resource of the container: only resources limits and requests (limits.cpu, limits.memory, limits.ephemeral-storage, requests.cpu, requests.memory and requests.ephemeral-storage) are currently supported.'
      properties:
        containerName:
          description: 'Container name: required for volumes, optional for env vars'
          type: string
        divisor:
          type: string
          pattern: ^[0-9]+(m|[GMK]i)$
        resource:
          description: 'Required: resource to select'
          type: string
    EnvVarSource:
      type: object
      description: EnvVarSource represents a source for the value of an EnvVar.
      properties:
        configMapKeyRef:
          type: object
          required:
          - key
          description: Selects a key of a ConfigMap.
          properties:
            key:
              description: The key to select.
              type: string
            name:
              description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names TODO: Add other useful fields. apiVersion, kind, uid?'
              type: string
            optional:
              nullable: true
              description: Specify whether the ConfigMap or its key must be defined
              type: boolean
        fieldRef:
          $ref: '#/components/schemas/FieldRef'
        resourceFieldRef:
          $ref: '#/components/schemas/ResourceFieldRef'
        secretKeyRef:
          type: object
          required:
          - key
          description: Selects a key of a secret in the pod's namespace
          properties:
            key:
              description: The key of the secret to select from.  Must be a valid secret key.
              type: string
            name:
              description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names TODO: Add other useful fields. apiVersion, kind, uid?'
              type: string
            optional:
              nullable: true
              description: Specify whether the Secret or its key must be defined
              type: boolean
    TestWorkflowTemplateRef:
      type: object
      properties:
        name:
          type: string
          description: TestWorkflowTemplate name to include
        config:
          $ref: '#/components/schemas/TestWorkflowConfigValue'
      required:
      - name
    LabelSelector:
      type: object
      properties:
        matchLabels:
          type: object
          additionalProperties:
            type: string
        matchExpressions:
          type: array
          items:
            $ref: '#/components/schemas/LabelSelectorRequirement'
    VariableType:
      type: string
      enum:
      - basic
      - secret
    SilentMode:
      type: object
      description: controls what aspects of an execution should be silent (not tracked/processed)
      properties:
        webhooks:
          type: boolean
          description: disable webhooks for this execution
          default: false
        insights:
          type: boolean
          description: exclude from insights and analytics dashboards
          default: false
        health:
          type: boolean
          description: exclude from health and flakiness calculations
          default: false
        metrics:
          type: boolean
          description: exclude from prometheus metrics
          default: false
        cdevents:
          type: boolean
          description: disable CDEvents for this execution
          default: false
    AWSElasticBlockStoreVolumeSource:
      description: 'awsElasticBlockStore represents an AWS Disk resource that is attached to a kubelet''s host machine and then exposed to the pod. More info: https://kubernetes.io/docs/concepts/storage/volumes#awselasticblockstore'
      properties:
        fsType:
          description: 'fsType is the filesystem type of the volume that you want to mount. Tip: Ensure that the filesystem type is supported by the host operating system. Examples: "ext4", "xfs", "ntfs". Implicitly inferred to be "ext4" if unspecified. More info: https://kubernetes.io/docs/concepts/storage/volumes#awselasticblockstore TODO: how do we prevent errors in the filesystem from compromising the machine'
          type: string
        partition:
          description: 'partition is the partition in the volume that you want to mount. If omitted, the default is to mount by volume name. Examples: For volume /dev/sda1, you specify the partition as "1". Similarly, the volume partition for /dev/sda is "0" (or you can leave the property empty).'
          format: int32
          type: integer
        readOnly:
          description: 'readOnly value true will force the readOnly setting in VolumeMounts. More info: https://kubernetes.io/docs/concepts/storage/volumes#awselasticblockstore'
          type: boolean
        volumeID:
          description: 'volumeID is unique ID of the persistent disk resource in AWS (Amazon EBS volume). More info: https://kubernetes.io/docs/concepts/storage/volumes#awselasticblockstore'
          type: string
      required:
      - volumeID
      type: object
    PodSchedulingGate:
      type: object
      properties:
        name:
          type: string
    PreferredSchedulingTerm:
      type: object
      properties:
        weight:
          type: integer
        preference:
          $ref: '#/components/schemas/NodeSelectorTerm'
      required:
      - preference
    CSIVolumeSource:
      type: object
      description: Represents a source location of a volume to mount, managed by an external CSI driver
      properties:
        driver:
          type: string
          description: driver is the name of the CSI driver that handles this volume.
        readOnly:
          $ref: '#/components/schemas/BoxedBoolean'
        fsType:
          $ref: '#/components/schemas/BoxedString'
        volumeAttributes:
          type: object
          description: volumeAttributes stores driver-specific properties that are passed to the CSI driver. Consult your driver's documentation for supported values.
          additionalProperties:
            type: string
        nodePublishSecretRef:
          $ref: '#/components/schemas/LocalObjectReference'
    TestWorkflowResourcesList:
      type: object
      properties:
        cpu:
          type: string
          description: number of CPUs
          pattern: ^[0-9]+m?$
        memory:
          type: string
          description: size of RAM memory
          pattern: ^[0-9]+[GMK]i$
        storage:
          type: string
          description: storage size
          pattern: ^[0-9]+[GMK]i$
        ephemeral-storage:
          type: string
          description: ephemeral storage size
          pattern: ^[0-9]+[GMK]i$
    TopologySpreadConstraint:
      type: object
      properties:
        maxSkew:
          type: integer
        topologyKey:
          type: string
        whenUnsatisfiable:
          type: string
        labelSelector:
          $ref: '#/components/schemas/LabelSelector'
        minDomains:
          $ref: '#/components/schemas/BoxedInteger'
        nodeAffinityPolicy:
          $ref: '#/components/schemas/BoxedString'
        nodeTaintsPolicy:
          $ref: '#/components/schemas/BoxedString'
        matchLabelKeys:
          type: array
          items:
            type: string
    WindowsSecurityContextOptions:
      type: object
      properties:
        gmsaCredentialSpecName:
          $ref: '#/components/schemas/BoxedString'
        gmsaCredentialSpec:
          $ref: '#/components/schemas/BoxedString'
        runAsUserName:
          $ref: '#/components/schemas/BoxedString'
        hostProcess:
          $ref: '#/components/schemas/BoxedBoolean'
    PersistentVolumeClaimVolumeSource:
      description: 'persistentVolumeClaimVolumeSource represents a reference to a PersistentVolumeClaim in the same namespace. More info: https://kubernetes.io/docs/concepts/storage/persistent-volumes#persistentvolumeclaims'
      properties:
        claimName:
          description: 'claimName is the name of a PersistentVolumeClaim in the same namespace as the pod using this volume. More info: https://kubernetes.io/docs/concepts/storage/persistent-volumes#persistentvolumeclaims'
          type: string
        readOnly:
          description: readOnly Will force the ReadOnly setting in VolumeMounts. Default false.
          type: boolean
      required:
      - claimName
      type: object
    TestWorkflowStepParallel:
      type: object
      allOf:
      - $ref: '#/components/schemas/TestWorkflowSpec'
      - $ref: '#/components/schemas/TestWorkflowStepExecuteStrategy'
      - $ref: '#/components/schemas/TestWorkflowStepControl'
      - $ref: '#/components/schemas/TestWorkflowStepOperations'
      - properties:
          parallelism:
            type: integer
            description: how many resources could be scheduled in parallel
          failFast:
            type: boolean
            description: abort remaining parallel workers on first failure
          description:
            type: string
            description: worker description to display
          logs:
            $ref: '#/components/schemas/BoxedString'
          transfer:
            type: array
            description: list of files to send to parallel steps
            items:
              $ref: '#/components/schemas/TestWorkflowStepParallelTransfer'
          fetch:
            type: array
            description: list of files to fetch from parallel steps
            items:
              $ref: '#/components/schemas/TestWorkflowStepParallelFetch'
          template:
            $ref: '#/components/schemas/TestWorkflowTemplateRef'
    HTTPHeader:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
    TestWorkflowStepExecuteTestRef:
      type: object
      allOf:
      - $ref: '#/components/schemas/TestWorkflowStepExecuteStrategy'
      - properties:
          name:
            type: string
            description: test name to schedule
          description:
            type: string
            description: test execution description to display
          count:
            $ref: '#/components/schemas/BoxedString'
          maxCount:
            $ref: '#/components/schemas/BoxedString'
          executionRequest:
            $ref: '#/components/schemas/TestWorkflowStepExecuteTestExecutionRequest'
          tarball:
            type: object
            additionalProperties:
              $ref: '#/components/schemas/TestWorkflowTarballRequest'
    VolumeMount:
      description: VolumeMount describes a mounting of a Volume within a container.
      properties:
        mountPath:
          description: Path within the container at which the volume should be mounted.  Must not contain ':'.
          type: string
        mountPropagation:
          $ref: '#/components/schemas/BoxedString'
        name:
          description: This must match the Name of a Volume.
          type: string
        readOnly:
          description: Mounted read-only if true, read-write otherwise (false or unspecified). Defaults to false.
          type: boolean
        subPath:
          description: Path within the volume from which the container's volume should be mounted. Defaults to "" (volume's root).
          type: string
        subPathExpr:
          description: Expanded path within the volume from which the container's volume should be mounted. Behaves similarly to SubPath but environment variable references $(VAR_NAME) are expanded using the container's environment. Defaults to "" (volume's root). SubPathExpr and SubPath are mutually exclusive.
          type: string
      required:
      - mountPath
      - name
      type: object
    HostAlias:
      type: object
      properties:
        ip:
          type: string
        hostnames:
          type: array
          items:
            type: string
    Variable:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
        type:
          $ref: '#/components/schemas/VariableType'
        secretRef:
          $ref: '#/components/schemas/SecretRef'
        configMapRef:
          $ref: '#/components/schemas/ConfigMapRef'
    TestWorkflowRunningContextActor:
      description: running context actor for test workflow execution
      type: object
      required:
      - type
      properties:
        name:
          type: string
          description: actor name
        email:
          type: string
          description: actor email
        executionId:
          type: string
          description: test workflow execution id
        executionPath:
          type: string
          description: all test workflow execution ids starting from the root
        executionReference:
          type: string
          description: reference test workflow execution id
        type:
          $ref: '#/components/schemas/TestWorkflowRunningContextActorType'
    TestWorkflow:
      type: object
      properties:
        name:
          type: string
          description: kubernetes resource name
        namespace:
          type: string
          description: kubernetes namespace
        description:
          type: string
          description: human-readable description
        labels:
          type: object
          description: test workflow labels
          additionalProperties:
            type: string
          example:
            env: prod
            app: backend
        annotations:
          type: object
          description: test workflow annotations
          additionalProperties:
            type: string
        created:
          type: string
          format: date-time
          example: '2022-07-30T06:54:15Z'
        updated:
          type: string
          format: date-time
          example: '2022-07-30T06:54:15Z'
        spec:
          $ref: '#/components/schemas/TestWorkflowSpec'
        readOnly:
          type: boolean
          description: if test workflow is offline and cannot be executed
        status:
          $ref: '#/components/schemas/TestWorkflowStatusSummary'
        sync:
          $ref: '#/components/schemas/Syncable'
    TestWorkflowIndependentServiceSpec:
      type: object
      allOf:
      - $ref: '#/components/schemas/TestWorkflowStepExecuteStrategy'
      - $ref: '#/components/schemas/TestWorkflowStepRun'
      - properties:
          description:
            type: string
            description: service description to display
          timeout:
            type: string
            description: maximum time until reaching readiness
          transfer:
            type: array
            description: list of files to send to parallel steps
            items:
              $ref: '#/components/schemas/TestWorkflowStepParallelTransfer'
          content:
            $ref: '#/components/schemas/TestWorkflowContent'
          pod:
            $ref: '#/components/schemas/TestWorkflowPodConfig'
          logs:
            $ref: '#/components/schemas/BoxedString'
          restartPolicy:
            type: string
          readinessProbe:
            $ref: '#/components/schemas/Probe'
          pvcs:
            type: object
            additionalProperties:
              $ref: '#/components/schemas/TestWorkflowPvcConfig'
    TestWorkflowTarballRequest:
      type: object
      properties:
        from:
          type: string
          description: path to load the files from
        files:
          $ref: '#/components/schemas/TestWorkflowTarballFilePattern'
      required:
      - from
    NFSVolumeSource:
      description: 'nfs represents an NFS mount on the host that shares a pod''s lifetime More info: https://kubernetes.io/docs/concepts/storage/volumes#nfs'
      properties:
        path:
          description: 'path that is exported by the NFS server. More info: https://kubernetes.io/docs/concepts/storage/volumes#nfs'
          type: string
        readOnly:
          description: 'readOnly here will force the NFS export to be mounted with read-only permissions. Defaults to false. More info: https://kubernetes.io/docs/concepts/storage/volumes#nfs'
          type: boolean
        server:
          description: 'server is the hostname or IP address of the NFS server. More info: https://kubernetes.io/docs/concepts/storage/volumes#nfs'
          type: string
      required:
      - path
      - server
      type: object
    TestWorkflowExecutionConfig:
      type: object
      description: map of configuration values used in the test workflow execution
      additionalProperties:
        $ref: '#/components/schemas/TestWorkflowExecutionConfigValue'
    TestWorkflowContent:
      type: object
      properties:
        git:
          $ref: '#/components/schemas/TestWorkflowContentGit'
        files:
          type: array
          items:
            $ref: '#/components/schemas/TestWorkflowContentFile'
        tarball:
          type: array
          items:
            $ref: '#/components/schemas/TestWorkflowContentTarball'
    TestWorkflowRunningContextActorType:
      description: supported actors for test workflow running context
      type: string
      enum:
      - cron
      - testtrigger
      - user
      - testworkflow
      - testworkflowexecution
      - program
    TestWorkflowParameterSchema:
      type: object
      properties:
        description:
          type: string
          description: human-readable description for the property
        type:
          $ref: '#/components/schemas/TestWorkflowParameterType'
        enum:
          type: array
          description: list of acceptable values
          items:
            type: string
        example:
          type: string
          description: example value for the parameter
        default:
          $ref: '#/components/schemas/BoxedString'
        format:
          type: string
          description: predefined format for the string
        pattern:
          type: string
          description: regular expression to match
        minLength:
          $ref: '#/components/schemas/BoxedInteger'
        maxLength:
          $ref: '#/components/schemas/BoxedInteger'
        minimum:
          $ref: '#/components/schemas/BoxedInteger'
        maximum:
          $ref: '#/components/schemas/BoxedInteger'
        exclusiveMinimum:
          $ref: '#/components/schemas/BoxedInteger'
        exclusiveMaximum:
          $ref: '#/components/schemas/BoxedInteger'
        multipleOf:
          $ref: '#/components/schemas/BoxedInteger'
        sensitive:
          type: boolean
          default: false
          description: whether this value should be stored in the secret
      required:
      - type
    PodSecurityContext:
      type: object
      properties:
        seLinuxOptions:
          $ref: '#/components/schemas/SELinuxOptions'
        windowsOptions:
          $ref: '#/components/schemas/WindowsSecurityContextOptions'
        runAsUser:
          $ref: '#/components/schemas/TemplatableBoxedInteger'
        runAsGroup:
          $ref: '#/components/schemas/TemplatableBoxedInteger'
        runAsNonRoot:
          $ref: '#/components/schemas/BoxedBoolean'
        supplementalGroups:
          type: array
          items:
            type: integer
            format: int64
        supplementalGroupsPolicy:
          $ref: '#/components/schemas/BoxedString'
        fsGroup:
          $ref: '#/components/schemas/TemplatableBoxedInteger'
        sysctls:
          type: array
          items:
            $ref: '#/components/schemas/Sysctl'
        fsGroupChangePolicy:
          $ref: '#/components/schemas/BoxedString'
        seccompProfile:
          $ref: '#/components/schemas/SeccompProfile'
        appArmorProfile:
          $ref: '#/components/schemas/AppArmorProfile'
        seLinuxChangePolicy:
          $ref: '#/components/schemas/BoxedString'
    AppArmorProfile:
      type: object
      properties:
        type:
          type: string
        localhostProfile:
          $ref: '#/components/schemas/BoxedString'
    TestWorkflowStep:
      type: object
      properties:
        id:
          type: string
          description: stable identifier for referencing this step in expressions
        name:
          type: string
          description: readable name for the step
        condition:
          type: string
          description: expression to declare under which conditions the step should be run; defaults to "passed", except artifacts where it defaults to "always"
        pure:
          $ref: '#/components/schemas/BoxedBoolean'
        paused:
          type: boolean
          description: should the step be paused initially
        negative:
          type: boolean
          description: is the step expected to fail
        optional:
          type: boolean
          description: is the step optional, so the failure won't affect the TestWorkflow result
        use:
          type: array
          description: list of TestWorkflowTemplates to use
          items:
            $ref: '#/components/schemas/TestWorkflowTemplateRef'
        template:
          $ref: '#/components/schemas/TestWorkflowTemplateRef'
        retry:
          $ref: '#/components/schemas/TestWorkflowRetryPolicy'
        timeout:
          type: string
          description: maximum time this step may take
        delay:
          type: string
          pattern: ^((0|[1-9][0-9]*)h)?((0|[1-9][0-9]*)m)?((0|[1-9][0-9]*)s)?((0|[1-9][0-9]*)ms)?$
          description: delay before the step
        content:
          $ref: '#/components/schemas/TestWorkflowContent'
        services:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/TestWorkflowServiceSpec'
        shell:
          type: string
          description: script to run in a default shell for the container
        run:
          $ref: '#/components/schemas/TestWorkflowStepRun'
        workingDir:
          $ref: '#/components/schemas/BoxedString'
        container:
          $ref: '#/components/schemas/TestWorkflowContainerConfig'
        execute:
          $ref: '#/components/schemas/TestWorkflowStepExecute'
        artifacts:
          $ref: '#/components/schemas/TestWorkflowStepArtifacts'
        parallel:
          $ref: '#/components/schemas/TestWorkflowStepParallel'
        setup:
          type: array
          description: nested setup steps to run
          items:
            $ref: '#/components/schemas/TestWorkflowStep'
        steps:
          type: array
          description: nested steps to run
          items:
            $ref: '#/components/schemas/TestWorkflowStep'
    SELinuxOptions:
      type: object
      properties:
        user:
          type: string
        role:
          type: string
        type:
          type: string
        level:
          type: string
    TCPSocketAction:
      type: object
      properties:
        port:
          type: string
        host:
          type: string
    WeightedPodAffinityTerm:
      type: object
      properties:
        weight:
          type: integer
        podAffinityTerm:
          $ref: '#/components/schemas/PodAffinityTerm'
      required:
      - podAffinityTerm
    SecretRef:
      required:
      - name
      - key
      type: object
      description: Testkube internal reference for secret storage in Kubernetes secrets
      properties:
        namespace:
          type: string
          description: object kubernetes namespace
        name:
          type: string
          description: object name
        key:
          type: string
          description: object key
    TestWorkflowPvcConfig:
      type: object
      properties:
        accessModes:
          description: 'Access mode for claim storage. More info: https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes'
          type: array
          items:
            type: string
        volumeMode:
          description: 'Volume mode indicates the consumption of the volume as either a filesystem or block device. More info: https://kubernetes.io/docs/concepts/storage/persistent-volumes/#volume-mode'
          $ref: '#/components/schemas/BoxedString'
        resources:
          description: Resources required for pvc
          $ref: '#/components/schemas/TestWorkflowResources'
        storageClassName:
          description: 'Storage class name specifies the name of a StorageClass. More info: https://kubernetes.io/docs/concepts/storage/storage-classes/'
          $ref: '#/components/schemas/BoxedString'
        volumeName:
          description: Volume name is used to identify the volume
          type: string
        selector:
          description: Only the volumes whose labels match the selector can be bound to the claim
          $ref: '#/components/schemas/LabelSelector'
        dataSource:
          description: 'Data source field can be used to specify either: * An existing VolumeSnapshot object (snapshot.storage.k8s.io/VolumeSnapshot) * An existing PVC (PersistentVolumeClaim)'
          $ref: '#/components/schemas/TypedLocalObjectReference'
        dataSourceRef:
          description: Data source reference specifies the object from which to populate the volume with data, if a non-empty volume is desired
          $ref: '#/components/schemas/TypedObjectReference'
        volumeAttributesClassName:
          description: 'Volume attributes class name may be used to set the VolumeAttributesClass used by this claim. More info: https://kubernetes.io/docs/concepts/storage/persistent-volumes#volumeattributesclass'
          $ref: '#/components/schemas/BoxedString'
    TestWorkflowStepParallelFetch:
      type: object
      properties:
        from:
          type: string
          description: path to fetch files from
        to:
          type: string
          description: path to save the files to
        files:
          $ref: '#/components/schemas/TestWorkflowTarballFilePattern'
      required:
      - from
    TestWorkflowStatusSummary:
      type: object
      description: test workflow status
      properties:
        health:
          $ref: '#/components/schemas/TestWorkflowExecutionHealth'
    TestWorkflowSystem:
      type: object
      properties:
        pureByDefault:
          $ref: '#/components/schemas/BoxedBoolean'
        isolatedContainers:
          $ref: '#/components/schemas/BoxedBoolean'
    TestWorkflowRunningContextInterfaceType:
      description: supported interfaces for test workflow running context
      type: string
      enum:
      - cli
      - ui
      - api
      - ci/cd
      - internal
    HTTPGetAction:
      type: object
      properties:
        path:
          type: string
        port:
          type: string
        host:
          type: string
        scheme:
          type: string
        httpHeaders:
          type: array
          items:
            $ref: '#/components/schemas/HTTPHeader'
    TestWorkflowResultSummary:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/TestWorkflowStatus'
        predictedStatus:
          $ref: '#/components/schemas/TestWorkflowStatus'
        queuedAt:
          type: string
          format: date-time
          description: when the pod was created
        startedAt:
          type: string
          format: date-time
          description: when the pod has been successfully assigned
        finishedAt:
          type: string
          format: date-time
          description: when the pod has been completed
        duration:
          type: string
          description: Go-formatted (human-readable) duration
        totalDuration:
          type: string
          description: Go-formatted (human-readable) duration (incl. pause)
        durationMs:
          type: integer
          description: Duration in milliseconds
        totalDurationMs:
          type: integer
          description: Duration in milliseconds (incl. pause)
        pausedMs:
          type: integer
          description: Pause duration in milliseconds
      required:
      - status
      - predictedStatus
      - durationMs
      - totalDurationMs
      - pausedMs
    TestWorkflowConcurrencyPolicy:
      type: object
      description: configuration to control concurrent executions.
      properties:
        group:
          type: string
          description: Group ongoing executions by this identifier instead of by workflow name. Use the group identifier if you want the control concurrency across workflows.
        max:
          type: integer
          description: The maximum amount of concurrent executions for this workflow or group. The scheduler will check the amount of ongoing executions for this workflow or group and only schedule this workflow when the amount is below its given maximum. When using a group identifier, it is recommended to keep the maximum in sync through a WorkflowTemplate.
        cancelInProgress:
          type: boolean
          description: Whether the oldest in progress execution should be cancelled to be replaced with the latest queued one.
          default: false
    TestWorkflowExecutionSchema:
      type: object
      description: test workflow execution configuration
      properties:
        tags:
          $ref: '#/components/schemas/TestWorkflowTagValue'
        target:
          $ref: '#/components/schemas/ExecutionTarget'
        silent:
          type: boolean
          description: indicates that all executions should be silent by default. When true, SilentMode is activated for all executions (Webhooks, Insights, Health, Metrics, Cdevents all set to true).
          default: false
    TemplatableBoxedInteger:
      type: object
      properties:
        value:
          type: string
      required:
      - value
    Syncable:
      description: 'source information about resources that may have been synced from multiple sources.

        An empty source indicates that the source was the UI/API for backwards compatibility.

        '
      type: object
      properties:
        creationSource:
          description: the original source from which the resource was created
          $ref: '#/components/schemas/Source'
        lastModificationSource:
          description: the source from which the last modification of the resource originated
          $ref: '#/components/schemas/Source'
    NodeAffinity:
      type: object
      properties:
        requiredDuringSchedulingIgnoredDuringExecution:
          $ref: '#/components/schemas/NodeSelector'
        preferredDuringSchedulingIgnoredDuringExecution:
          type: array
          items:
            $ref: '#/components/schemas/PreferredSchedulingTerm'
    TestWorkflowStepRun:
      type: object
      properties:
        workingDir:
          $ref: '#/components/schemas/BoxedString'
        image:
          type: string
          description: image to be used for the container
        imagePullPolicy:
          $ref: '#/components/schemas/ImagePullPolicy'
        env:
          type: array
          description: environment variables to append to the container
          items:
            $ref: '#/components/schemas/EnvVar'
        envFrom:
          type: array
          description: external environment variables to append to the container
          items:
            $ref: '#/components/schemas/EnvFromSource'
        command:
          $ref: '#/components/schemas/BoxedStringList'
        args:
          $ref: '#/components/schemas/BoxedStringList'
        shell:
          $ref: '#/components/schemas/BoxedString'
        resources:
          $ref: '#/components/schemas/TestWorkflowResources'
        securityContext:
          $ref: '#/components/schemas/SecurityContext'
        volumeMounts:
          type: array
          description: volumes to mount to the container
          items:
            $ref: '#/components/schemas/VolumeMount'
    LabelSelectorRequirement:
      type: object
      properties:
        key:
          type: string
        operator:
          type: string
        values:
          type: array
          items:
            type: string
    TestWorkflowExecutionResourceAggregations:
      type: object
      properties:
        total:
          type: number
          format: float64
          description: Total sum of the metric.
        min:
          type: number
          format: float64
          description: Minimum value of the metric.
        max:
          type: number
          format: float64
          description: Maximum value of the metric.
        avg:
          type: number
          format: float64
          description: Average value of the metric.
        stdDev:
          type: number
          format: float64
          description: Standard deviation of the metric.
      description: 'TestWorkflowExecutionResourceAggregations provides min, max, average, total,

        and standard deviation values for a resource metric.

        '
    ArtifactRequest:
      description: artifact request body with test artifacts
      type: object
      properties:
        storageClassName:
          type: string
          description: artifact storage class name for container executor
          example: artifact-volume-local
        volumeMountPath:
          type: string
          description: artifact volume mount path for container executor
        dirs:
          type: array
          items:
            type: string
          description: artifact directories for scraping
        masks:
          type: array
          items:
            type: string
          description: regexp to filter scraped artifacts, single or comma separated
        storageBucket:
          type: string
          description: artifact bucket storage
          example: test1-artifacts
        omitFolderPerExecution:
          type: boolean
          description: don't use a separate folder for execution artifacts
        sharedBetweenPods:
          type: boolean
          description: whether to share volume between pods
        useDefaultStorageClassName:
          type: boolean
          description: whether to use default storage class name
        sidecarScraper:
          type: boolean
          description: run scraper as pod sidecar container
    ExecutionsTotals:
      type: object
      description: various execution counters
      required:
      - results
      - passed
      - failed
      - queued
      - running
      - paused
      properties:
        results:
          type: integer
          description: the total number of executions available
        passed:
          type: integer
          description: the total number of passed executions available
        failed:
          type: integer
          description: the total number of failed executions available
        queued:
          type: integer
          description: the total number of queued executions available
        running:
          type: integer
          description: the total number of running executions available
    ConfigMapVolumeSource:
      description: configMap represents a configMap that should populate this volume
      properties:
        defaultMode:
          $ref: '#/components/schemas/BoxedInteger'
        items:
          description: items if unspecified, each key-value pair in the Data field of the referenced ConfigMap will be projected into the volume as a file whose name is the key and content is the value. If specified, the listed keys will be projected into the specified paths, and unlisted keys will not be present. If a key is specified which is not present in the ConfigMap, the volume setup will error unless it is marked optional. Paths must be relative and may not contain the '..' path or start with '..'.
          items:
            description: Maps a string key to a path within a volume.
            properties:
              key:
                description: key is the key to project.
                type: string
              mode:
                $ref: '#/components/schemas/BoxedInteger'
              path:
                description: path is the relative path of the file to map the key to. May not be an absolute path. May not contain the path element '..'. May not start with the string '..'.
                type: string
            required:
            - key
            - path
            type: object
          type: array
        name:
          description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names TODO: Add other useful fields. apiVersion, kind, uid?'
          type: string
        optional:
          description: optional specify whether the ConfigMap or its keys must be defined
          type: boolean
      type: object
    ConfigMapRef:
      required:
      - name
      - key
      type: object
      description: Testkube internal reference for data in Kubernetes config maps
      properties:
        namespace:
          type: string
          description: object kubernetes namespace
        name:
          type: string
          description: object name
        key:
          type: string
          description: object key
    ConfigMapEnvSource:
      type: object
      properties:
        name:
          type: string
        optional:
          nullable: true
          type: boolean
          default: false
      required:
      - name
    EnvFromSource:
      type: object
      properties:
        prefix:
          type: string
        configMapRef:
          $ref: '#/components/schemas/ConfigMapEnvSource'
        secretRef:
          $ref: '#/components/schemas/SecretEnvSource'
    NodeSelectorRequirement:
      type: object
      properties:
        key:
          type: string
        operator:
          type: string
        values:
          type: array
          items:
            type: string
    TestWorkflowReportSummary:
      type: object
      properties:
        tests:
          type: integer
          description: total number of test cases
        passed:
          type: integer
          description: number of passed test cases
        failed:
          type: integer
          description: number of failed test cases
        skipped:
          type: integer
          description: number of skipped test cases
        errored:
          type: integer
          description: number of error test cases
        duration:
          type: integer
          format: int64
          description: total duration of all test cases in milliseconds
    TestWorkflowExecutionRuntime:
      description: runtime configuration for a specific test workflow execution
      type: object
      properties:
        variables:
          type: object
          additionalProperties:
            type: string
          description: runtime variables passed to the test workflow execution
    LocalObjectReference:
      description: Reference to Kubernetes object
      type: object
      properties:
        name:
          type: string
    HostPathVolumeSource:
      description: 'hostPath represents a pre-existing file or directory on the host machine that is directly exposed to the container. This is generally used for system agents or other privileged things that are allowed to see the host machine. Most containers will NOT need this. More info: https://kubernetes.io/docs/concepts/storage/volumes#hostpath --- TODO(jonesdl) We need to restrict who can use host directory mounts and who can/can not mount host directories as read/write.'
      properties:
        path:
          description: 'path of the directory on the host. If the path is a symlink, it will follow the link to the real path. More info: https://kubernetes.io/docs/concepts/storage/volumes#hostpath'
          type: string
        type:
          $ref: '#/components/schemas/BoxedString'
      required:
      - path
      type: object
    TestWorkflowTagValue:
      type: object
      description: tag values to pass to the test workflow execution
      additionalProperties:
        type: string
    TestWorkflowRunningContext:
      description: running context for test workflow execution
      type: object
      required:
      - interface
      - actor
      properties:
        interface:
          $ref: '#/components/schemas/TestWorkflowRunningContextInterface'
        actor:
          $ref: '#/components/schemas/TestWorkflowRunningContextActor'
    TestWorkflowRunningContextInterface:
      description: running context interface for test workflow execution
      type: object
      required:
      - type
      properties:
        name:
          type: string
          description: interface name
        type:
          $ref: '#/components/schemas/TestWorkflowRunningContextInterfaceType'
    EmptyDirVolumeSource:
      description: 'emptyDir represents a temporary directory that shares a pod''s lifetime. More info: https://kubernetes.io/docs/concepts/storage/volumes#emptydir'
      properties:
        medium:
          description: 'medium represents what type of storage medium should back this directory. The default is "" which means to use the node''s default medium. Must be an empty string (default) or Memory. More info: https://kubernetes.io/docs/concepts/storage/volumes#emptydir'
          type: string
        sizeLimit:
          $ref: '#/components/schemas/BoxedString'
      type: object
    TestWorkflowStepArtifactsCompression:
      type: object
      properties:
        name:
          type: string
          description: artifact name
    SeccompProfile:
      type: object
      properties:
        type:
          type: string
        localhostProfile:
          $ref: '#/components/schemas/BoxedString'
    TestWorkflowStepStatus:
      type: string
      enum:
      - queued
      - running
      - paused
      - passed
      - failed
      - timeout
      - skipped
      - aborted
      - canceled
    TestWorkflowExecutionResourceAggregationsByMeasurement:
      type: object
      description: 'TestWorkflowExecutionResourceAggregationsByMeasurement provides resource usage aggregations

        for a specific measurement (e.g. CPU, Memory, etc.) across all steps in a TestWorkflowExecution.

        '
      additionalProperties:
        type: object
        description: 'TestWorkflowExecutionResourceAggregations provides resource usage aggregations

          for a specific field (e.g. millicores, used...).

          '
        additionalProperties:
          $ref: '#/components/schemas/TestWorkflowExecutionResourceAggregations'
    TestWorkflowJobConfig:
      type: object
      properties:
        labels:
          type: object
          description: labels to attach to the job
          additionalProperties:
            type: string
        annotations:
          type: object
          description: annotations to attach to the job
          additionalProperties:
            type: string
        namespace:
          type: string
          description: namespace for execution of test workflow
        activeDeadlineSeconds:
          $ref: '#/components/schemas/BoxedInteger'
    BoxedInteger:
      type: object
      properties:
        value:
          type: integer
      required:
      - value
    TestWorkflowParameterType:
      type: string
      description: type of the config parameter
      enum:
      - string
      - integer
      - number
      - boolean
    BoxedString:
      type: object
      properties:
        value:
          type: string
      required:
      - value
    Capabilities:
      type: object
      properties:
        add:
          type: array
          items:
            type: string
        drop:
          type: array
          items:
            type: string
    TestWorkflowExecutionResourceAggregationsReport:
      type: object
      properties:
        global:
          $ref: '#/components/schemas/TestWorkflowExecutionResourceAggregationsByMeasurement'
        step:
          type: array
          items:
            $ref: '#/components/schemas/TestWorkflowExecutionStepResourceAggregations'
      description: 'TestWorkflowExecutionResourceAggregationsReport provides resource usage aggregations

        for an entire TestWorkflowExecution (globally) and also per-step (by measurements).

        '
    Artifact:
      type: object
      description: API server artifact
      properties:
        name:
          type: string
          description: artifact file path
        size:
          type: integer
          description: file size in bytes
        executionName:
          type: string
          description: execution name that produced the artifact
          example: test-1
        status:
          type: string
          enum:
          - ready
          - processing
          - failed
    TestWorkflowResources:
      type: object
      properties:
        limits:
          $ref: '#/components/schemas/TestWorkflowResourcesList'
        requests:
          $ref: '#/components/schemas/TestWorkflowResourcesList'
    TestWorkflowStepOperations:
      type: object
      properties:
        delay:
          type: string
          pattern: ^((0|[1-9][0-9]*)h)?((0|[1-9][0-9]*)m)?((0|[1-9][0-9]*)s)?((0|[1-9][0-9]*)ms)?$
          description: delay before the step
        shell:
          type: string
          description: script to run in a default shell for the container
        run:
          $ref: '#/components/schemas/TestWorkflowStepRun'
        execute:
          $ref: '#/components/schemas/TestWorkflowStepExecute'
        artifacts:
          $ref: '#/components/schemas/TestWorkflowStepArtifacts'
    TestWorkflowContentFile:
      type: object
      properties:
        path:
          type: string
          description: path where the file should be accessible at
          minLength: 1
        content:
          type: string
          description: plain-text content to put inside
        contentFrom:
          $ref: '#/components/schemas/EnvVarSource'
        mode:
          $ref: '#/components/schemas/BoxedInteger'
      required:
      - path
    TestWorkflowContentGit:
      type: object
      properties:
        uri:
          type: string
          description: uri for the Git repository
        revision:
          type: string
          description: branch, commit or a tag name to fetch
        username:
          type: string
          description: plain text username to fetch with
        usernameFrom:
          $ref: '#/components/schemas/EnvVarSource'
        token:
          type: string
          description: plain text token to fetch with
        tokenFrom:
          $ref: '#/components/schemas/EnvVarSource'
        sshKey:
          type: string
          description: plain text SSH private key to fetch with
        sshKeyFrom:
          $ref: '#/components/schemas/EnvVarSource'
        authType:
          $ref: '#/components/schemas/ContentGitAuthType'
        mountPath:
          type: string
          description: where to mount the fetched repository contents (defaults to "repo" directory in the data volume)
        cone:
          type: boolean
          description: enable cone mode for sparse checkout with paths
        paths:
          type: array
          description: paths to fetch for the sparse checkout
          items:
            type: string
    Affinity:
      type: object
      properties:
        nodeAffinity:
          $ref: '#/components/schemas/NodeAffinity'
        podAffinity:
          $ref: '#/components/schemas/PodAffinity'
        podAntiAffinity:
          $ref: '#/components/schemas/PodAffinity'
    TestWorkflowExecutionRequest:
      type: object
      properties:
        name:
          type: string
          description: custom execution name
        config:
          $ref: '#/components/schemas/TestWorkflowConfigValue'
        runtime:
          $ref: '#/components/schemas/TestWorkflowExecutionRuntime'
          description: runtime configuration for the test workflow execution
        testWorkflowExecutionName:
          type: string
          description: test workflow execution name started the test workflow execution
        disableWebhooks:
          type: boolean
          description: whether webhooks on the execution of this test workflow are disabled
          default: false
        silentMode:
          $ref: '#/components/schemas/SilentMode'
        tags:
          $ref: '#/components/schemas/TestWorkflowTagValue'
        target:
          $ref: '#/components/schemas/ExecutionTarget'
        runningContext:
          description: running context for the test workflow execution (Pro edition only)
          $ref: '#/components/schemas/TestWorkflowRunningContext'
        parentExecutionIds:
          type: array
          description: parent execution ids
          items:
            type: string
    Variables:
      type: object
      description: execution variables passed to executor converted to vars for usage in tests
      additionalProperties:
        $ref: '#/components/schemas/Variable'
      example:
        var1:
          name: var1
          type: basic
          value: value1
        secret1:
          name: secret1
          type: secret
          value: secretvalue1
    Toleration:
      type: object
      properties:
        key:
          type: string
        operator:
          type: string
        value:
          type: string
        effect:
          type: string
        tolerationSeconds:
          $ref: '#/components/schemas/BoxedInteger'
    EnvVar:
      type: object
      properties:
        global:
          $ref: '#/components/schemas/BoxedBoolean'
        name:
          type: string
        value:
          type: string
        valueFrom:
          $ref: '#/components/schemas/EnvVarSource'
    BoxedBoolean:
      type: object
      properties:
        value:
          type: boolean
      required:
      - value
    TestWorkflowStepControl:
      type: object
      properties:
        paused:
          type: boolean
          description: should the step be paused initially
        negative:
          type: boolean
          description: is the step expected to fail
        optional:
          type: boolean
          description: is the step optional, so the failure won't affect the TestWorkflow result
        retry:
          $ref: '#/components/schemas/TestWorkflowRetryPolicy'
        timeout:
          type: string
          description: maximum time this step may take
    TypedObjectReference:
      description: TypedObjectReference contains enough information to let you locate the typed referenced object inside the specified namespace
      type: object
      allOf:
      - $ref: '#/components/schemas/TypedLocalObjectReference'
      properties:
        namespace:
          description: Namespace is the namespace of resource being referenced
          $ref: '#/components/schemas/BoxedString'
    PodAffinityTerm:
      type: object
      properties:
        labelSelector:
          $ref: '#/components/schemas/LabelSelector'
        namespaces:
          type: array
          items:
            type: string
        topologyKey:
          type: string
        namespaceSelector:
          $ref: '#/components/schemas/LabelSelector'
    ClaimSource:
      type: object
      properties:
        resourceClaimName:
          $ref: '#/components/schemas/BoxedString'
        resourceClaimTemplateName:
          $ref: '#/components/schemas/BoxedString'
    TestWorkflowStepExecute:
      type: object
      properties:
        parallelism:
          type: integer
          description: how many resources could be scheduled in parallel
        async:
          type: boolean
          description: only schedule the resources, don't watch for the results (unless it is needed for parallelism)
        tests:
          type: array
          description: tests to schedule
          items:
            $ref: '#/components/schemas/TestWorkflowStepExecuteTestRef'
        workflows:
          type: array
          description: workflows to schedule
          items:
            $ref: '#/components/schemas/TestWorkflowStepExecuteTestWorkflowRef'
    TestWorkflowStepArtifacts:
      type: object
      properties:
        workingDir:
          $ref: '#/components/schemas/BoxedString'
        compress:
          $ref: '#/components/schemas/TestWorkflowStepArtifactsCompression'
        paths:
          type: array
          description: file paths to fetch from the container
          items:
            type: string
          minItems: 1
      required:
      - paths
    TestWorkflowContentTarball:
      type: object
      properties:
        url:
          type: string
          description: url for the tarball to extract
        path:
          type: string
          description: path where the tarball should be extracted
        mount:
          $ref: '#/components/schemas/BoxedBoolean'
      required:
      - url
      - path
    TestWorkflowTarballFilePattern:
      type: object
      description: dynamic expression or static list of file patterns to pack
      properties:
        static:
          type: array
          items: {}
        expression:
          type: string
    Probe:
      type: object
      description: Probe describes a health check to be performed against a container to determine whether it is alive or ready to receive traffic.
      properties:
        initialDelaySeconds:
          type: integer
        timeoutSeconds:
          type: integer
        periodSeconds:
          type: integer
        successThreshold:
          type: integer
        failureThreshold:
          type: integer
        terminationGracePeriodSeconds:
          $ref: '#/components/schemas/BoxedInteger'
        exec:
          $ref: '#/components/schemas/ExecAction'
        httpGet:
          $ref: '#/components/schemas/HTTPGetAction'
        tcpSocket:
          $ref: '#/components/schemas/TCPSocketAction'
        grpc:
          $ref: '#/components/schemas/GRPCAction'
    TestWorkflowStepExecuteTestWorkflowRef:
      type: object
      allOf:
      - $ref: '#/components/schemas/TestWorkflowStepExecuteStrategy'
      - properties:
          name:
            type: string
            description: TestWorkflow name to include
          description:
            type: string
            description: TestWorkflow execution description to display
          executionName:
            type: string
            description: TestWorkflow execution name override
          tarball:
            type: object
            additionalProperties:
              $ref: '#/components/schemas/TestWorkflowTarballRequest'
          config:
            $ref: '#/components/schemas/TestWorkflowConfigValue'
          selector:
            $ref: '#/components/schemas/LabelSelector'
            description: label selector for test workflow
          target:
            $ref: '#/components/schemas/ExecutionTarget'
    TestWorkflowStepExecuteTestExecutionRequest:
      type: object
      properties:
        name:
          type: string
          description: test execution custom name
          example: testing with 1000 users
        executionLabels:
          type: object
          description: test execution labels
          additionalProperties:
            type: string
          example:
            users: '3'
            prefix: some-
        isVariablesFileUploaded:
          type: boolean
          description: in case the variables file is too big, it will be uploaded
          example: false
        variablesFile:
          type: string
          description: variables file content - need to be in format for particular executor (e.g. postman envs file)
        variables:
          $ref: '#/components/schemas/Variables'
        testSecretUUID:
          type: string
          description: test secret uuid
          readOnly: true
          example: 7934600f-b367-48dd-b981-4353304362fb
        command:
          type: array
          description: executor image command
          items:
            type: string
          example:
          - curl
        args:
          type: array
          description: additional executor binary arguments
          items:
            type: string
          example:
          - --repeats
          - '5'
          - --insecure
        argsMode:
          type: string
          description: usage mode for arguments
          enum:
          - append
          - override
          - replace
        image:
          type: string
          description: container image, executor will run inside this image
          example: kubeshop/testkube-executor-custom:1.10.11-dev-0a9c91
        imagePullSecrets:
          type: array
          description: container image pull secrets
          items:
            $ref: '#/components/schemas/LocalObjectReference'
        sync:
          type: boolean
          description: whether to start execution sync or async
        httpProxy:
          type: string
          description: http proxy for executor containers
          example: user:pass@my.proxy.server:8080
        httpsProxy:
          type: string
          description: https proxy for executor containers
          example: user:pass@my.proxy.server:8081
        negativeTest:
          type: boolean
          description: whether to run test as negative test
          example: false
        activeDeadlineSeconds:
          type: integer
          format: int64
          description: duration in seconds the test may be active, until its stopped
          example: 1
        artifactRequest:
          $ref: '#/components/schemas/ArtifactRequest'
          description: configuration parameters for storing test artifacts
        jobTemplate:
          type: string
          description: job template extensions
        cronJobTemplate:
          type: string
          description: cron job template extensions
        preRunScript:
          type: string
          description: script to run before test execution
          example: echo -n '$SECRET_ENV' > ./secret_file
        postRunScript:
          type: string
          description: script to run after test execution
          example: sleep 30
        executePostRunScriptBeforeScraping:
          type: boolean
          description: execute post run script before scraping (prebuilt executor only)
        sourceScripts:
          type: boolean
          description: run scripts using source command (container executor only)
        scraperTemplate:
          type: string
          description: scraper template extensions
        pvcTemplate:
          type: string
          description: pvc template extensions
        envConfigMaps:
          type: array
          description: config map references
          items:
            $ref: '#/components/schemas/EnvReference'
        envSecrets:
          type: array
          description: secret references
          items:
            $ref: '#/components/schemas/EnvReference'
        executionNamespace:
          type: string
          description: namespace for test execution (Pro edition only)
    TestWorkflowExecutionStepResourceAggregations:
      type: object
      description: Step-based resource metrics aggregations (by measurement and field)
      properties:
        ref:
          type: string
          description: step reference
        aggregations:
          $ref: '#/components/schemas/TestWorkflowExecutionResourceAggregationsByMeasurement'
    ContentGitAuthType:
      type: string
      description: auth type for git requests
      enum:
      - basic
      - header
      - github
    FieldRef:
      type: object
      required:
      - fieldPath
      description: 'Selects a field of the pod: supports metadata.name, metadata.namespace, `metadata.labels[''<KEY>'']`, `metadata.annotations[''<KEY>'']`, spec.nodeName, spec.serviceAccountName, status.hostIP, status.podIP, status.podIPs.'
      properties:
        apiVersion:
          description: Version of the schema the FieldPath is written in terms of, defaults to "v1".
          type: string
        fieldPath:
          description: Path of the field to select in the specified API version.
          type: string
    TestWorkflowConfigValue:
      type: object
      description: configuration values to pass to the template
      additionalProperties:
        type: string
    CephFSVolumeSource:
      description: cephFS represents a Ceph FS mount on the host that shares a pod's lifetime
      properties:
        monitors:
          description: 'monitors is Required: Monitors is a collection of Ceph monitors More info: https://examples.k8s.io/volumes/cephfs/README.md#how-to-use-it'
          items:
            type: string
          type: array
        path:
          description: 'path is Optional: Used as the mounted root, rather than the full Ceph tree, default is /'
          type: string
        readOnly:
          description: 'readOnly is Optional: Defaults to false (read/write). ReadOnly here will force the ReadOnly setting in VolumeMounts. More info: https://examples.k8s.io/volumes/cephfs/README.md#how-to-use-it'
          type: boolean
        secretFile:
          description: 'secretFile is Optional: SecretFile is the path to key ring for User, default is /etc/ceph/user.secret More info: https://examples.k8s.io/volumes/cephfs/README.md#how-to-use-it'
          type: string
        secretRef:
          $ref: '#/components/schemas/LocalObjectReference'
        user:
          description: 'user is optional: User is the rados user name, default is admin More info: https://examples.k8s.io/volumes/cephfs/README.md#how-to-use-it'
          type: string
      required:
      - monitors
      type: object
    TestWorkflowContainerConfig:
      type: object
      properties:
        workingDir:
          $ref: '#/components/schemas/BoxedString'
        image:
          type: string
          description: image to be used for the container
        imagePullPolicy:
          $ref: '#/components/schemas/ImagePullPolicy'
        env:
          type: array
          description: environment variables to append to the container
          items:
            $ref: '#/components/schemas/EnvVar'
        envFrom:
          type: array
          description: external environment variables to append to the container
          items:
            $ref: '#/components/schemas/EnvFromSource'
        command:
          $ref: '#/components/schemas/BoxedStringList'
        args:
          $ref: '#/components/schemas/BoxedStringList'
        resources:
          $ref: '#/components/schemas/TestWorkflowResources'
        securityContext:
          $ref: '#/components/schemas/SecurityContext'
        volumeMounts:
          type: array
          description: volumes to mount to the container
          items:
            $ref: '#/components/schemas/VolumeMount'
    TestWorkflowStepExecuteStrategy:
      type: object
      properties:
        count:
          $ref: '#/components/schemas/BoxedString'
        maxCount:
          $ref: '#/components/schemas/BoxedString'
        matrix:
          type: object
          description: matrix of parameters to spawn instances
[...]
